body {
	font-family: 'Montserrat', sans-serif;
	background: #eeeeee;
}

.\+small {
	display: none;
}

.hero {
	height: 738px;
	width: 100%;
	background: url(/hero-lg.jpg) center no-repeat;
	position: relative;
}

.logo {
	position: absolute;
	top: 58px;
	width: 100%;
}

.logo__text {
	font-weight: 700;
	font-size: 30px;
	margin-top: 8px;
	color: #193441;
}

.text-center {
	text-align: center;
}

.hero__headline {
	position: absolute;
	padding: 20px 0px;
	top: 245px;
	width: 100%;
	background: rgba(0,0,0, .12);
	color: #f9f9f9;
	font-size: 48px;
}

.hero__chrome {
	position: absolute;
	bottom: -50px;
	width: 100%;
}

.feature {
	margin-top: 100px;
}

.feature__image {
}

.feature__title {
	font-size: 16px;
	color: #193441;
}

.coming-soon {
	background: #3e606f;
	margin-top: 80px;
	color: #dddddd;
	padding: 30px 0;
}

.coming-soon__title {
	font-size: 24px;
}

.coming-soon__features {
	width: 360px;
	margin: 0 auto;
}

.coming-soon__feature {
	display: inline-block;
	vertical-align: top;
	width: 150px;
	margin-right: 50px;
	margin-top: 30px;
}

.coming-soon__feature:last-child {
	margin-right: 0;
}

.coming-soon__feature-title {
	margin-top: 8px;
}

.coming-soon__download {
	margin-top: 40px;
}

.links, footer {
	background: #193441;
	color: #bbb;
	padding: 30px 0;
}

footer {
	font-size: 12px;
}

a, a:visited, a:active {
	color: #ccc;
	cursor: pointer;
	text-decoration: none;
	transition: 300ms linear color;
}

a:hover {
	color: #bbb;
}

.faq {
	width: 760px;
	margin: 0 auto;
	font-weight: normal;
	padding: 30px 0;
}

.faq a {
	color: #3e606f;
}

.faq__title {
	font-size: 24px;
	margin-bottom: 8px;
}

.faq__question {
	display: inline-block;
	width: 280px;
	vertical-align: top;
	margin-right: 14px;
	margin-top: 24px;
}

.faq__question:last-child {
	margin-right: 0;
}

.faq__question-title {
	margin-bottom: 8px;
	font-size: 18px;
}

.faq__question-answer {
	font-size: 14px;
	font-weight: normal;
	font-family: 'Open Sans', sans-serif;
}

.chrome-link {
	height: 96px;
}

@media (max-width: 748px) {
	.hero__headline {
		font-size: 24px;
	}
	.hero {
		height: 566px;
		background: url(/hero-sm.jpg) center no-repeat;
	}
	.coming-soon__features {
		width: 160px;
	}

	.hero__chrome {
		bottom: -40px;
	}

	.chrome-link {
		height: 76px;
	}

	.feature__title {
		font-size: 20px;
	}

	.faq {
		width: 280px;
	}

	.\+large {
		display: none;
	}
	.\+small {
		display: block;
	}
}

@media (max-width: 1030px) {
	.feature__image {
		width: 100%;
	}
}

@media (min-width: 1928px) {
	.hero {
		background-size: 100%;
	}
}
